%div.tab__content#login-form
  %form
    %input{type: 'text', class: 'form__input form__input--transparent', placeholder: 'Username'}
    %input{type: 'password', class: 'form__input form__input--transparent', placeholder: 'Password'}
    %button.btn.btn--dark.btn--rounded
      Login
  %div.tab__content#registration-form
