%div.block.album__reviews__menu#album__reviews__menu
  %div.block__header__sub__tabs.tabs
    %ul
      %li{'data-content': 'album-top-rated-reviews','data-async-load' => 'true', 'data-dom' => 'albums-feed-wrapper'}
        Top Rated
      %li{'data-content': 'album-newest-reviews','data-async-load' => 'true', 'data-dom' => 'albums-feed-wrapper'}
        Newest