%div.block.album__reviews__menu#album__reviews__menu
  %div.block__header__sub__tabs.tabs
    %ul
      %li.async_load{'data-content': 'album-top-rated-reviews', 'data-dom' => 'albums-feed-wrapper'}
        Top Rated
      %li.async_load{'data-content': 'album-newest-reviews', 'data-dom' => 'albums-feed-wrapper'}
        Newest