%div.albums__feed__comments__item__wrapper
  %div.row.collapse
    %div.small-12.medium-1.columns
      = image_tag 'sample_artist_img_sm.jpg'
    %div.small-12.medium-11.columns
      %div.albums__feed__item__content__inner
        %div.albums__feed__comments__item
          %h3
            Jess Smith
          %p
            = locals[:comment]