%div.reveal-modal.modal__standard.modal__standard--success#standard_modal{'data-reveal'=> true}
  %div.modal__header
    %h3.text-center
      Great Success!
  %div.modal__content.text-center
    %p
      Your action has been noted.
    %div.row
      %div.small-12.medium-6.medium-centered.columns.end
        = link_to 'View Result', '#', {class: 'btn btn--dark btn--rounded'}
