ol
  margin: 0
  padding: 0
  list-style-type: none
  li
    counter-increment: step-counter
    margin-bottom: 10px
    &::before
      content: counter(step-counter)
      margin-right: 5px
      color: #000
      font-weight: bold
      padding: 3px 8px 3px 0
      border-radius: 3px

.upcase
  text-transform: uppercase