%div.row.collapse
  %div.small-2.columns
    = image_tag 'http://lorempixel.com/90/90/'
  %div.small-9.columns
    %div.block__content__albums__item
      %h4
        = album[:name]
      %div
        = album[:artist]