%div.row.collapse
  %div.small-2.columns
    = link_to album_path(artist_name: album[:artist], album_name: album[:name]) do
      = image_tag 'http://lorempixel.com/90/90/'
  %div.small-9.columns
    %div.block__content__lists__item
      %h4
        = link_to album[:name], album_path(artist_name: album[:artist], album_name: album[:name])
      %div.italize
        = link_to album[:artist], artist_path(name: album[:artist])