%div.block
  %div.block__header.block__header--dark-border
    %h2
      Recommended Writers
  %div.block__content
    %div.users
      - @top_writers.each do |top_writer|
      - temp_rand = Faker::Number.number(6)
        = render 'shared/user_list_item', locals:{user: top_writer, temp_rand: temp_rand}