%div.users__item{id: locals[:temp_rand]}
  %div.row.collapse
    %div.small-2.columns
      = image_tag 'http://lorempixel.com/people/90/90/'
    %div.small-9.columns
      %div.users__item__info
        %h3
          = link_to locals[:user][:name], user_profile_path(profile_id: locals[:user][:name])
        = link_to 'follow', 'javascript:;', class: 'follow-unfollow btn btn--rounded btn__outline btn__outline--grey', 'data-uid': locals[:temp_rand]
    %div.small-1.column
      = link_to 'javascript:;', 'data-uid': locals[:temp_rand], class: 'remove-user-list' do
        %i.icon.tall-close
