@mixin block-header-common()
  padding: 36px 1rem

.block
  position: relative
  &__footer
    position: absolute
    bottom: 0
  &::after
    display: table
    content: ''
    width: 100%
    clear: left
  &__header
    border-bottom: 3px solid #E0E0E0
    margin-bottom: 1.25rem
    &--dark-border
      border-color: #000000
    h1,h2,h3,h4,h5,h6
      margin: 0
      padding: 0
    h3,h2
      font-size: 14px
      text-transform: uppercase
    h2
      @include block-header-common
      padding-left: 0
      font-weight: normal

    &__tabs
      &.tabs
        li
          cursor: pointer
      ul
        margin: 0
        padding: 0
        li
          @include block-header-common
          list-style: none
          display: inline-block
          text-align: center
          margin-bottom: -3px
          &.active
            border-bottom: 3px solid #000000
            margin-bottom: -3px
            padding-bottom: 33px
            h2,h3
              font-weight: bold
        &.split
          li
            width: 49%
          &.three
            li
              width: 32%
    &--none
      border: none
      @include block-header-common
      padding-left: 0
      padding-right: 0
      padding-bottom: 0
      margin-bottom: 0

      h2,h3
        text-transform: capitalize
        padding: 0
        font-size: 24px
        font-weight: bold

  &__content
    &__lists
      li
        margin: 0 0 1rem 0
        &::before
          float: left
          padding-top: 11px
          font-size: 0.85rem
        p
          font-size: 12px
          margin: 0
          padding: 0
      &__item
        padding-left: 1rem
        line-height: 10px
        font-size: 12px
        color: #797979
        font-style: italic
        h4
          font-weight: bold
          font-size: 12px
          margin-top: 0
          margin-bottom: 0.25rem
      &--songs
        .block__content__lists__item
          h4
            font-weight: normal
            font-size: 13px
        li
          border-top: 1px solid #dddddd
          padding-top: 1rem
          &:last-child
            padding-bottom: 1rem
            border-bottom: 1px solid #dddddd
          &::before
            padding-top: 0
            font-weight: normal
