.footer
  background-color: #F6F6F6
  padding: 0.5rem
  ul
    margin: 0
    padding: 0
    li
      list-style: none
      display: inline-block
      font-size: calc_rem(12px)
      font-weight: bold
      a
        padding: 8px