@import "../base/colors"
header
  &.header
    padding: 1.5rem 0
    border-bottom: 1px solid $global-grey-bg
    border-top: 1px solid $global-grey-bg
    .logo
      margin-top: -10px
    .search
      border: 1px solid #dddddd
      &::after
        content: ''
        display: table
        width: 100%
        clear: both
      .search__input_group
        padding: 0.5rem
      input[type=text]
        width: 95%
        float: right
      button
        float: left
    &--inverted
      background-color: $global-grey-bg
      .logo
        margin-top: 0
      .search
        input[type=text]
          float: left
        button
          float: left
        .search__input_group
          background: #EFEFEF
          padding: 0

#logo
  background-image: url("sprite.png")
  height: 35px
  background-position: -23px -15px
  width: 86px

.login_register
  a
    display: inline-block
    margin-top: 0.5rem
    font-size: 12px
