.hero
  padding: 128px 0
  h1
    letter-spacing: 1px
  &__content
    padding: 0 2rem
    p
      padding: 0 4rem
      font-size: 13px
  &--grey
    background-color: #CFCFCF
  &--dark-grey
    background-color: #5B5B5B
  &--artist
    padding: 3rem 0