.compose
  background-color: #F6F6F6
  padding: 1.25rem
  margin-bottom: 1.75rem
  input[type=text]
    background: none
    border: none
    background: none
    border: none
    box-shadow: none
    -moz-box-shadow: none
    -webkit-box-shadow: none
  &__row
    margin-bottom: 1.25rem
  &__modal
    max-width: 40rem
  &__actions
    &--discard
      line-height: 38px
      text-transform: capitalize
      font-size: 12px
      font-style: italic