.form
  &__input
    padding: 0.75rem
    &--transparent
      background: none !important
      outline: none !important
      border: none !important
      border-bottom: 1px solid #EBEBEB !important
      @include box-shadow(none !important)