.modal
  &__login-reg
    background-color: #F5F5F5
    max-width: 200px
    padding-top: 0

/*** modal overwrites ***/
.reveal-modal
  box-shadow: none
  border: none
  border-radius: 0
  outline: none

.modal__login-reg
  top: 18px !important