.search
  &__input
    &_group
      input[type=text]
        background: none
        border: none
        box-shadow: none
        -moz-box-shadow: none
        -webkit-box-shadow: none
      button
        margin-top: 0.45rem
        padding: 0
        margin-bottom: 0
      &--light-grey
        background-color: #EFEFEF
      &--small
        margin: 0 !important
        padding: 0 0 0 1rem !important
        height: 1.725rem !important
