@mixin user_drop_down_common()
  position: absolute
  right: 1rem
  padding: 2rem
  top: 2.5rem
  background: #F5F5F5
  z-index: 999999
  display: none
  width: 25rem
  hr
    margin: 1.5rem 0 !important
    border: solid 1px #F1F1F1 !important
  h2
    margin-top: -5px !important

.users
  &__item
    margin-top: 1rem
    margin-bottom: 1.5rem
    &__info
      padding-left: 0.75rem
      .btn
        padding-left: 30px
        padding-right: 30px
        text-transform: uppercase
        font-weight: 400
      h3
        font-size: 18px
        font-weight: bold
        margin-bottom: 0.825rem
  &__block
    &__info
      font-size: 11px
      color: #72726F
  &__title
    &__slider
      margin-top: 1rem
      font-weight: bold
      text-transform: uppercase
  &__dropdown
    @include user_drop_down_common()
    .users__block__info
      height: 2rem
      font-weight: normal
    .block__header
      padding-top: 0
    &__profile
      &__stats
        text-transform: uppercase
        color: #E0E0E0
        margin-bottom: 0.25rem
  &__notification
    @include user_drop_down_common()
    &__header
      h2,h3
        font-size: $default-font-size
    &__item
      text-align: left
      text-transform: uppercase
      font-size: 12px