%div.block.artist__reviews__menu#artist__reviews__menu
  %div.block__header__sub__tabs.tabs
    %ul
      %li{'data-content': 'artist-top-rated-reviews','data-async-load' => 'true', 'data-dom' => 'artist-feed-wrapper'}
        Top Rated
      %li{'data-content': 'artist-newest-reviews','data-async-load' => 'true', 'data-dom' => 'artist-feed-wrapper'}
        Newest