%div.block.artist__reviews__menu#artist__reviews__menu
  %div.block__header__sub__tabs.tabs
    %ul
      %li.async_load{'data-content': 'artist-top-rated-reviews', 'data-dom' => 'artist-feed-wrapper'}
        Top Rated
      %li.async_load{'data-content': 'artist-newest-reviews', 'data-dom' => 'artist-feed-wrapper'}
        Newest